{% load static %}
<div class="mb-1 bg-white rounded-xl shadow hover:shadow-lg transition p-4 flex items-start gap-4">
    <!-- Image -->
    {% if game.img %}
    <!-- Show cover image from RAWG API first -->
        <img src="{{ game.img }}" class="w-32 h-auto object-cover rounded" alt="{{ game.title }}">
    {% elif game.image %}
    <!-- Show image uploaded from admin panel -->
        <img src="{{ game.image.url }}" class="w-32 h-auto object-cover rounded" alt="{{ game.title }}">
    {% else %}
    <!-- Show placeholder if there is no image -->
        <div class="w-32 h-24 bg-gray-200 flex items-center justify-center rounded">
            <span class="text-gray-500 text-xs">No Image</span>
        </div>
    {% endif %}
    <!-- Content on the right -->
    <div class="flex flex-col justify-start w-full">

    <!-- Title at the top right -->
        <div class="flex justify-center">
            <a href="{% url 'extra_details' game.slug %}" class="text-xl font-semibold text-right">
                {{ game.title }}
            </a>
        </div>
        <div> {{ game.description|safe }} </div>
    </div>
</div>

<div>


</div>